@model PagedList.IPagedList<MoostBrand.DAL.StockTransfer>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Stock Transfer";
}



<div class="panel-heading">
    <h4 class="panel-title">Stock Transfer</h4>

</div>
<div class="panel-body">

    <div class="dataTables_wrapper no-footer">
        <div class="dataTables_length">
            <a href="@Url.Action("Create")" class="btn btn-green" style="float:left;"> Create New <i class="fa fa-plus"></i></a>
            <a href="@Url.Action("Index", "StockTransferDirects")" class="btn btn-green" style="float:left;"> Direct Transfer <i class="fa fa-plus"></i></a>
        </div>
        <div class="dataTables_filter">
            @using (Html.BeginForm("Index", "StockTransfer", FormMethod.Post))
            {
                <p>
                    @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control input-sm", @placeholder = "Search" })
                    <input type="submit" value="Search" class="btn btn-green" />
                </p>
            }
            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

    </div>

    <form id="action_form">
        @Html.AntiForgeryToken()
        <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer">
            <thead>
                <tr>
                    <th>
                        @Html.ActionLink("Transfer ID", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Location
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransferID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Requisition.RequisitionType.Type)
                            @Html.DisplayFor(modelItem => item.Receiving.ReceivingType.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApprovalStatu.Status)
                        </td>
                        <td>
                            <div class="custom-tools">
                                <a href='@Url.Action("Details", new { id = item.ID })' class="btn btn-xs btn-green tooltips" data-placement="top" data-original-title="Details">
                                    <i class="fa fa-file"></i>
                                </a>
                                @if (item.ApprovedStatus == 1)
                                {
                                    if (Convert.ToInt32(Session["sessionuid"]) == item.RequestedBy)
                                    //if (Convert.ToInt32(Session["sessionuid"]) == item.RequestedBy || Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
                                    {
                                        <a href='@Url.Action("Edit", new { id = item.ID })' class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href='@Url.Action("Delete", new { id = item.ID })' class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Delete">
                                            <i class="fa fa-times fa fa-white"></i>
                                        </a>
                                    }
                                    //if (Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
                                    //{
                                        <a href="#" id="approve_button" onclick="Approve(@item.ID)" class="btn btn-xs btn-dark-green tooltips" data-placement="top" data-original-title="Approve">
                                            <i class="fa fa-thumbs-up"></i>
                                        </a>
                                        <a href="#" id="deny_button" onclick="Deny(@item.ID)" class="btn btn-xs btn-dark-red tooltips" data-placement="top" data-original-title="Deny">
                                            <i class="fa fa-thumbs-down"></i>
                                        </a>
                                    //}
                                }
                            </div>
                        </td>
                    </tr>
                                }
            </tbody>
        </table>
    </form>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>





<script type="text/javascript">
    function Approve() {
        var prID = arguments[0];

        var url = '@Url.Action("Approve", "StockTransfer")/' + prID;

        var frm = $("#action_form").serialize();

        $.post(url, frm, ReloadFunction);

        function ReloadFunction() {
            location.reload();
        }
    }

    function Deny() {
        var prID = arguments[0];

        var url = '@Url.Action("Denied", "StockTransfer")/' + prID;

        var frm = $("#action_form").serialize();

        $.post(url, frm, ReloadFunction);

        function ReloadFunction() {
            location.reload();
        }
    }
</script>
