@model PagedList.IPagedList<MoostBrand.DAL.RequisitionDetail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Approved Items";
}

<div class="panel-heading">
    <h4 class="panel-title">Approved Items</h4>
    <hr />
</div>
<div class="panel-body">
    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer">
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Quantity
            </th>
            <th>
                In Stock
            </th>
            <th>
                Ordered
            </th>
            <th>
                Committed
            </th>
            <th>
                Available
            </th>
            <th>
                Action
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ordered)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Committed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Available)
                </td>
                <td>
                    <a href="#" id="ShowPopopEdit" onclick="ShowEdit(@item.ID)">Edit</a>
                </td>
            </tr>
        }

    </table>

   
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ApprovedItems",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <br /><br />
    <a href='@Url.Action("Details", new { id = ViewBag.PRid })' class="btn btn-light-orange">
        Back to List
    </a>
        
    

    <div id="EditItemWindow" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div id="ShowDialogEdit" class="modal-dialog" role="document">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

<script>
    function ShowEdit(id) {
        var url = '@Url.Action("EditItemPartial", "PR")/' + id;
        $.get(url, function (data) {
            $('#ShowDialogEdit').html(data);

            $('#EditItemWindow').modal('show');
        });
    }
</script>
