@model MoostBrand.Models.Color

@{
    ViewBag.Title = "ColorCreate";
}

<a href="@Url.Action("ColorList")">Back to List</a>
<br/>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.ID)

    <label>@Html.LabelFor(model => model.Description):</label>
    <div>
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    
    <label>@Html.LabelFor(model => model.CategoryID):</label>
    <div>
        @Html.DropDownList("CategoryID", String.Empty)
        @Html.ValidationMessageFor(model => model.CategoryID)
    </div>
    
    <input type="submit" value="Create"/>
}
