@model MoostBrand.Models.Item

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.ID)

    <label>@Html.LabelFor(model => model.Description):</label>
    <div>
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
    
    <label>@Html.LabelFor(model => model.BrandID):</label>
    <div>
        @Html.DropDownList("BrandID", String.Empty)
        @Html.ValidationMessageFor(model => model.BrandID)
    </div>
    
    <label>@Html.LabelFor(model => model.UnitOfMeasurementID):</label>
    <div>
        @Html.DropDownList("UnitOfMeasurementID", String.Empty)
        @Html.ValidationMessageFor(model => model.UnitOfMeasurementID)
    </div>
    
    <label>@Html.LabelFor(model => model.Quantity):</label>
    <div>
        @Html.EditorFor(model => model.Quantity)
        @Html.ValidationMessageFor(model => model.Quantity)
    </div>
    
    <label>@Html.LabelFor(model => model.LocationID):</label>
    <div>
        @Html.DropDownList("LocationID", String.Empty)
        @Html.ValidationMessageFor(model => model.LocationID)
    </div>
    
    <input type="submit" value="Create"/>
}
