@model IEnumerable<MoostBrand.Models.UnitOfMeasurement>

@{
    ViewBag.Title = "List";
}

<a href="@Url.Action("UOMCreate")" >Create</a>

<table>
    <tr>
        <th>
            Brand
        </th>
        <th>
            Quantity of Measure
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityOfMeasure)
            </td>
            <td>
                <ul>
                    <li>
                        <a href="@Url.Action("UOMEdit", new { id = item.ID })" >Edit</a>
                    </li>
                    <li>
                        <a href="@Url.Action("UOMDelete", new { id = item.ID })" >Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
