@model PagedList.IPagedList<MoostBrand.DAL.Requisition>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Purchase Requisitions";
}

<h2>Purchase Requisitions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "PR", FormMethod.Post))
{
    <p>
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<form id="action_form">
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Ref #", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Location
            </th>
            <th>
                Requested By
            </th>
            <th>
                Requested Date
            </th>
            <th>
                Date Required
            </th>
            <th>
                Vendor
            </th>
            <th>
                Project/Customer
            </th>
            <th>
                Payment Status
            </th>
            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RefNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequisitionType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location1.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee1.LastName),
                    @Html.DisplayFor(modelItem => item.Employee1.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateRequired)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vendor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovalStatu.Status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    @Html.ActionLink("Items", "Items", new { id = item.ID })
                    <a href="#" id="approve_button" onclick="Approve(@item.ID)">Approve</a>
                    <a href="#" id="deny_button" onclick="Deny(@item.ID)">Deny</a>
                </td>
            </tr>
        }

    </table>
</form>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


    <script type="text/javascript">
        function Approve() {
            var prID = arguments[0];

            var url = '@Url.Action("Approve", "PR")/' + prID;

            var frm = $("#action_form").serialize();

            $.post(url, frm, ReloadFunction);

            function ReloadFunction() {
                location.reload();
            }
        }

        function Deny() {
            var prID = arguments[0];

            var url = '@Url.Action("Denied", "PR")/' + prID;

            var frm = $("#action_form").serialize();

            $.post(url, frm, ReloadFunction);

            function ReloadFunction() {
                location.reload();
            }
        }
    </script>
