@model MoostBrand.DAL.Requisition

@{
    ViewBag.Title = "Details";
}


<div class="panel-heading">
    <h4 class="panel-title">Delete Requisition</h4>
    <hr />
</div>

<div class="panel-body">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Reference #</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.RefNumber)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Type</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.RequisitionType.Type)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Requested Date</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.RequestedDate)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Requested By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee1.LastName),
                    @Html.DisplayFor(model => model.Employee1.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Location</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Location1.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Date Required</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.DateRequired)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Vendor</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Vendor.Name)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Vendor Code</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Vendor.Code)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Attention</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Vendor.Attn)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Shipment Date</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ShipmentDate)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Project/Customer</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Customer)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Reservation Type</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ReservationType.Type)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Shipment Type</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ShipmentType)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Drop Ship Type</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.DropShipType.Type)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Payment Status</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.PaymentStatus)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Invoice #</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.InvoiceNumber)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Reserved By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee2.LastName),
                    @Html.DisplayFor(model => model.Employee2.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Validated By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee3.LastName),
                    @Html.DisplayFor(model => model.Employee3.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Destination</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Location.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Approval Status</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ApprovalStatu.Status)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Approved By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee.LastName),
                    @Html.DisplayFor(model => model.Employee.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Remarks</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Remarks)
                </label>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Delete" class="btn btn-red" />

                    <a href='@Url.Action("Edit", new { id = Model.ID })' class="btn btn-green">
                        Edit
                    </a>
                    <a href='@Url.Action("Index")' class="btn btn-light-orange">
                        Back to List
                    </a>

                </div>
            </div>
        }
    </div>
</div>




