@*@model MoostBrand.DAL.ReqDetails*@
@model MoostBrand.Helpers.requsitionModel
@{
    ViewBag.Title = "Details";
}
<div class="panel-heading">
    <h4 class="panel-title">Requisition Details</h4>
    <hr />
</div>
<div class="panel-body">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.requisition.Requisitions.RequisitionTypeID)

        <div class="row">
            <div class="col-sm-6">

                <div class="form-group">
                    <label class="control-label col-md-4">Reference #</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.RefNumber)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Type</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.RequisitionType.Type)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Requested Date</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.RequestedDate)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Requested By</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.Employee1.LastName),
                            @Html.DisplayFor(model => model.requisition.Requisitions.Employee1.FirstName)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Location</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.Location.Description)
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-4">Date Required</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.DateRequired)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Approval Status</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.ApprovalStatu.Status)
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">Approved By</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.Employee.LastName),
                            @Html.DisplayFor(model => model.requisition.Requisitions.Employee.FirstName)
                        </label>
                    </div>
                </div>
                
                <div id="pr">
                    <div class="form-group">
                        <label class="control-label col-md-4">Vendor</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Vendor.Name)
                            </label>
                        </div>
                    </div>
                </div>
                
                <div id="brcr">
                    <div class="form-group">
                        <label class="control-label col-md-4">Driver</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Driver)
                            </label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-4">Remarks</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.requisition.Requisitions.Remarks)
                        </label>
                    </div>
                </div>

            </div>

            <div class="col-sm-6">

                <div id="cr">
                    <div class="form-group">
                        <label class="control-label col-md-4">Project/Customer</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Customer)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Reservation Type</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.ReservationType.Type)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Reserved By</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Employee2.LastName),
                                @Html.DisplayFor(model => model.requisition.Requisitions.Employee2.FirstName)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Payment Status</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.PaymentStatu.Status)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Invoice #</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.InvoiceNumber)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Authorized Person</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.AuthorizedPerson)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Validated By</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Employee3.LastName),
                                @Html.DisplayFor(model => model.requisition.Requisitions.Employee3.FirstName)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Shipment Type</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.ShipmentType)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Drop Ship Type</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.DropShipType.Type)
                            </label>
                        </div>
                    </div>
                </div>

                <div id="br">
                    <div class="form-group">
                        <label class="control-label col-md-4">Destination</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Location1.Description)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Plate Number</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.PlateNumber)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Other</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.Others)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Time Departed</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.TimeDeparted)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Time Arrive</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.requisition.Requisitions.TimeArrived)
                            </label>
                        </div>
                    </div>
                </div>

                
            </div>
        
        </div>

       
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                @*@if (Convert.ToInt32(Session["sessionuid"]) == Model.requisition.Requisitions.RequestedBy || Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
                {*@
                    @*<a href='@Url.Action("PendingItems", new { id = Model.ID })' class="btn btn-dark-yellow">
                        Pending Items
                    </a>*@
                    <a href='@Url.Action("ApprovedItems", new { id = Model.requisition.Requisitions.ID })' class="btn btn-dark-green">
                        Approved Items
                    </a>
                    <a href='@Url.Action("DeniedItems", new { id = Model.requisition.Requisitions.ID })' class="btn btn-dark-red">
                        Denied Items
                    </a>

                    <br /><br />

                    <a href='@Url.Action("Edit", new { id = Model.requisition.Requisitions.ID })' class="btn btn-green">
                        Edit
                    </a>
                   @*}*@
                
                <a href='@Url.Action("Index")' class="btn btn-light-orange">
                    Back to List
                </a>            
            </div>
        </div>



@*@if (Convert.ToInt32(Session["sessionuid"]) == Model.requisition.Requisitions.RequestedBy || Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
{
  
}*@
        @Html.Action("PendingItems", "PR", new { page = ViewBag.Page })
        @*@Html.Action("ViewHistoryPartial", "PR")*@
        <div class="panel-heading">
            <h4 class="panel-title">History</h4>
            <hr />
        </div>
        <table class="table table-striped table-bordered table-hover table-full-width dataTable ">
            <thead>
                <tr>
                    <th>
                        Item Code
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        In Stock
                    </th>
                    <th>
                        Committed
                    </th>
                    <th>
                        Ordered
                    </th>
                    <th>
                        Available
                    </th>
                    <th>
                        Previous Item
                    </th>
                    <th>
                        Previous Quantity
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model.requisitiondetails.Select(p=>p.RequisitionDetails))
            {
                
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Code)
                        </td>
                        <td>
                            @if (ViewBag.ReqTypeID == "1")
                            {
                                @Html.DisplayFor(modelItem => item.Item.Description)
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Item.DescriptionPurchase)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetInstock)
                        </td>
                        <td>
                           @Html.DisplayFor(modelItem => item.GetCommited)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetOrdered) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetAvailable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item1.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviousQuantity)
                        </td>
                    </tr>
                </tbody>
                    
                }
            </table>

        <!-- pager -->
        @if (Model.Pager.EndPage > 1)
        {
            <div class="col-sm-9 no-padding col-sm-offset-3">

                <ul class="pagination pull-right">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            @Html.ActionLink("First", "Details", new { id = Model.requisition.Requisitions.ID , sortOrder = ViewBag.EMNoSortParm})
                        </li>
                        <li>
                            @Html.ActionLink("Previous", "Details", new { id = Model.requisition.Requisitions.ID, page = (Model.Pager.CurrentPage - 1) })
                        </li>
                    }

                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                    {
                        <li class="@(page == Model.Pager.CurrentPage ? " active" : "" )">
                            @Html.ActionLink(page.ToString(), "Details", new
                       {
                                               id = Model.requisition.Requisitions.ID,
                                               page = @page
                       })
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            @Html.ActionLink("Next", "Details", new { id = Model.requisition.Requisitions.ID , page = (Model.Pager.CurrentPage + 1) })
                        </li>
                        <li>
                            @Html.ActionLink("Last", "Details", new { id = Model.requisition.Requisitions.ID , page = (Model.Pager.TotalPages)})
                        </li>
                    }
                </ul>

                <div class="clearfix"></div>

            </div>
        }
</div>
</div>

<script language="javascript">
    $(function () {
        var val = $("#RequisitionTypeID").val();
        if (val == 1) { //PR
            $("#br").hide();
            $("#pr").show();
            $("#cr").hide();
            $("#brcr").hide();
        } else if (val == 2) { //BR
            $("#br").show();
            $("#brcr").show();
            $("#pr").hide();
            $("#cr").hide();
        } else if (val == 3) { //WR
            $("#br").show();
            $("#pr").hide();
            $("#cr").hide();
            $("#brcr").show();
        } else if (val == 5) { //OR
            $("#br").show();
            $("#pr").hide();
            $("#cr").hide();
            $("#brcr").show();
        } else if (val == 4) { //CR
            $("#br").hide();
            $("#pr").hide();
            $("#cr").show();
            $("#brcr").show();
        } else {
            $("#br").hide();
            $("#pr").hide();
            $("#cr").hide();
            $("#brcr").hide();
        }
    });
</script>
