@model PagedList.IPagedList<MoostBrand.DAL.RequisitionDetail>
@using PagedList.Mvc;
@*<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />*@


<div class="panel-heading">
    <h4 class="panel-title">RECORDS</h4>
</div>
<div class="panel-body">

    <div class="clearfix"></div>

    <form id="action_form">
        @Html.AntiForgeryToken()

        <table class="table table-striped table-bordered table-hover table-full-width dataTable ">
            <thead>
                <tr>
                    <th>
                        Item Code
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Remaining Balance
                    </th>
                    <th>
                        Actual Balance
                    </th>
                    <th>
                        Variance
                    </th>
                    <th>
                        Previous Item
                    </th>
                    <th>
                        Previous Quantity
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item1.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviousQuantity)
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </form>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
