@model MoostBrand.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<div>
    <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.FirstName):</label>
    <div>
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.LastName):</label>
    <div>
        @Html.DisplayFor(model => model.LastName)
    </div>

    <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.Position):</label>
    <div>
        @Html.DisplayFor(model => model.Position)
    </div>

    @using (Html.BeginForm())
    {
        <input type="submit" value="Delete" />
    }
</div>
