@model MoostBrand.Models.Employee

@{
    ViewBag.Title = "Details";
}

<a href="@Url.Action("Index")">Back to List</a>
<br/>

<div>
    <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.FirstName):</label>
    <div>
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.LastName):</label>
    <div>
        @Html.DisplayFor(model => model.LastName)
    </div>

    <label style="font-weight: bold;">@Html.DisplayNameFor(model => model.Position):</label>
    <div>
        @Html.DisplayFor(model => model.Position)
    </div>

    <a href="@Url.Action("Edit", new { id = Model.ID })">Edit</a>
</div>
