@model PagedList.IPagedList<MoostBrand.Models.Employee>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("Create")" >Create</a>

<table>
    <tr>
        <th>
            Last Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Position
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                <ul>
                    <li>
                        <a href="@Url.Action("Edit", new { id = item.ID })" >Edit</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Details", new { id = item.ID })" >Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", new { id = item.ID })" >Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager( Model, id => Url.Action("Index", new { id }) )
