@model MoostBrand.Models.User
@using MoostBrand.Models;

@{
    ViewBag.Title = "Create";
}

<a href="@Url.Action("Index")">Back to List</a>
<br/>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(x => x.ID)

    <label>@Html.LabelFor(model => model.EmployeeID):</label>
    <div>
        @Html.DropDownList("EmployeeID", String.Empty)
        @Html.ValidationMessageFor(model => model.EmployeeID)
    </div>

    <label>@Html.LabelFor(model => model.Username):</label>
    <div>
        @Html.EditorFor(model => model.Username)
        @Html.ValidationMessageFor(model => model.Username)
    </div>
    
    <label>@Html.LabelFor(model => model.Password):</label>
    <div>
        @Html.EditorFor(model => model.Password)
        @Html.ValidationMessageFor(model => model.Password)
    </div>
    
    <label>@Html.LabelFor(model => model.Designation):</label>
    <div>
        @Html.EditorFor(model => model.Designation)
        @Html.ValidationMessageFor(model => model.Designation)
    </div>
    
    <label>@Html.LabelFor(model => model.UserTypeID):</label>
    <div>
        @Html.DropDownList("UserTypeID", String.Empty)
        @Html.ValidationMessageFor(model => model.UserTypeID)
    </div>
    
    <input type="submit" value="Create"/>
    
}
