@model PagedList.IPagedList<MoostBrand.Models.User>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action("Create")" >Create</a>

<table>
    <tr>
        <th>
            Username
        </th>
        <th>
            Employee
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.LastName), 
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td style="width: 200px;">
                <ul class="table-controls">
                    <li>
                        <a href="@Url.Action("Edit", new { id = item.ID })" >Edit</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Details", new { id = item.ID })" >Details</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Delete", new { id = item.ID })" >Delete</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
</table>
<br/>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager( Model, id => Url.Action("Index", new { id }) )
