@model MoostBrand.DAL.ReceivingDetail

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Add Item";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="panel-heading">
        <h4 class="panel-title">Create Item</h4>
        <hr />
    </div>
    <div class="panel-body">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.RequisitionDetail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("RequisitionDetailID", String.Empty)
                    @Html.ValidationMessageFor(model => model.RequisitionDetailID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequisitionDetail.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.RequisitionDetail.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequisitionDetail.Quantity, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.QuantityReceived, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.QuantityReceived, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.QuantityReceived, "", new { @class = "text-danger" })
                </div>
            </div>*@
            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Create" class="btn btn-green" />
                    <a href='@Url.Action("Index")' class="btn btn-light-orange">
                        Back to List
                    </a>
                </div>
            </div>

        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script language="javascript">

    $(function () {
        var id = $("#RequisitionDetailID").val();
        ShowQuantity(id); //this calls it on load
    });

    $("#RequisitionDetailID").change(function () {
        var id = $("#RequisitionDetailID").val();
        ShowQuantity(id);
    });

    function ShowQuantity(id) {
        $.get("@Url.Action("GetRequisitionDetail", "Receiving")/" + id, null, function (data) {
            $("#RequisitionDetail_Quantity").val(data.Quantity);
        });
    }
</script>
