@model MoostBrand.DAL.Operator
@using MoostBrand.Models
@using MoostBrand.DAL

@Html.HiddenFor(x => x.OperatorID)
@Html.HiddenFor(x => x.StockTransferID)

<div class="operator-field">
    <div class="form-group">
        <div class="col-md-6 no-padding">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control _operator" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-6">
            @Html.HiddenFor(x => x.DeletedOperator, new { @class = "mark-for-delete" })
            @Html.RemoveLink("Remove", "div.operator-field", "input.mark-for-delete")
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}