@model MoostBrand.DAL.StockAdjustment
@{
    ViewBag.Title = "Details";
}
<div class="panel-heading">
    <h4 class="panel-title">Stock Adjustment Details</h4>
    <hr />
</div>
<div class="panel-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Transaction Type</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.TransactionType.Type)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Location</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Location.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Date</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ErrorDate)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Prepared By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee.LastName),
                    @Html.DisplayFor(model => model.Employee.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Encoded By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee1.LastName),
                    @Html.DisplayFor(model => model.Employee1.FirstName)
                </label>
            </div>
        </div>
 
        <div class="form-group">
            <label class="control-label col-md-2">Approved Status</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ApprovalStatu.Status)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Approved By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee2.LastName),
                    @Html.DisplayFor(model => model.Employee2.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Posted By</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Employee3.LastName),
                    @Html.DisplayFor(model => model.Employee3.FirstName)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Posted Date</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.PostedDate)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Reference Number</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ReferenceNo)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Comments</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Comments)
                </label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                @if (Convert.ToInt32(Session["sessionuid"]) == Model.ApprovedBy || Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
                {
                    <a href='@Url.Action("Items", new { id = Model.ID })' class="btn btn-dark-yellow">
                        Items
                    </a>

                    <br /><br />
                    if(ViewBag.isApproved==1) {
                    <a href='@Url.Action("Edit", new { id = Model.ID })' class="btn btn-green">
                        Edit
                    </a>
                        }
                    }

                <a href='@Url.Action("Index")' class="btn btn-light-orange">
                    Back to List
                </a>
            </div>
        </div>

    </div>
</div>