@model MoostBrand.DAL.Receiving
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
    ViewBag.Title = "Create Receiving";
}
@using (Html.BeginForm("Create", "Receiving", FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-heading">
        <h4 class="panel-title">Create Receiving</h4>
        <hr />
    </div>
    <div class="panel-body">

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ReceivingType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("ReceivingTypeID", String.Empty)
                    @Html.ValidationMessageFor(model => model.ReceivingTypeID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="loc">
                <div class="form-group">
                    @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownList("LocationID", String.Empty)
                        @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceivingID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ReceivingID, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceivingID, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    @Html.LabelFor(model => model.StockTransfer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownListFor(model => model.StockTransferID, Enumerable.Empty<SelectListItem>())
                        @Html.ValidationMessageFor(model => model.StockTransferID, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.RequisitionID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @*@Html.DropDownList("RequisitionID", String.Empty)*@
                    @Html.DropDownListFor(model => model.RequisitionID, Enumerable.Empty<SelectListItem>(), new { @class = "required" })
                    @Html.ValidationMessageFor(model => model.RequisitionID, "", new { @class = "text-danger"  })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Requisition #</label>
                <div class="col-md-6">
                    @Html.Editor("RefNumber", new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Requested By</label>
                <div class="col-md-6">
                    @Html.Editor("RequestedBy", new { htmlAttributes = new { @class = "form-control", @disabled = "disabled"} })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceivingDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.ReceivingDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ReceivingDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div id="br">
                <div class="form-group">
                    <label class="control-label col-md-2">Receiving Location</label>
                    <div class="col-md-6">
                        @Html.Editor("Destination", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*<div class="form-group">
                    <label class="control-label col-md-2">Source Location</label>
                    <div class="col-md-6">
                        @Html.Editor("SourceLoc", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.EncodedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownList("EncodedBy", String.Empty)
                        @Html.ValidationMessageFor(model => model.EncodedBy, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CheckedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownList("CheckedBy", String.Empty)
                        @Html.ValidationMessageFor(model => model.CheckedBy, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ReceivedBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.DropDownList("ReceivedBy", String.Empty)
                    @Html.ValidationMessageFor(model => model.ReceivedBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PONumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.PONumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PONumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DRNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.DRNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DRNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InvoiceReference, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.EditorFor(model => model.InvoiceReference, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InvoiceReference, "", new { @class = "text-danger" })
                </div>
            </div>


            <div id="pos">
                <div class="form-group">
                    @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Vendor Contact Person</label>
                    <div class="col-md-6">
                        @Html.Editor("VendorContact", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*<div class="form-group">
                        <label class="control-label col-md-2">Receiving Location</label>
                        <div class="col-md-6">
                            @Html.Editor("ReceivingLocation", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>*@

            </div>

            <div id="po">
                <div class="form-group">
                    <label class="control-label col-md-2">Vendor</label>
                    <div class="col-md-6">
                        @Html.Editor("Vendor", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Vendor Code</label>
                    <div class="col-md-6">
                        @Html.Editor("VendorCode", new { htmlAttributes = new { @class = "form-control" , @hidden="hidden"} })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VesselNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.VesselNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VesselNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WaybillNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.WaybillNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WaybillNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VoyageNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.VoyageNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VoyageNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ShippingLine, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.ShippingLine, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShippingLine, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Forwarder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.Forwarder, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Forwarder, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.VanNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.EditorFor(model => model.VanNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.VesselNumber, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div id="cr">
                <div class="form-group">
                    <label class="control-label col-md-2">Customer Name</label>
                    <div class="col-md-6">
                        @Html.Editor("CustName", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Shipment Type</label>
                    <div class="col-md-6">
                        @Html.Editor("ShipmentType", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                @*<div class="form-group">
                        <label class="control-label col-md-2">Invoice Number</label>
                        <div class="col-md-6">
                            @Html.Editor("Invoice", new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>*@
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextAreaFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Img, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Img, new { type = "file", htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.Img)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="button" onclick="myModal()" value="Create" class="btn btn-green"/>
                    <a href='@Url.Action("Index")' class="btn btn-light-orange">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>

                        <!-- MODAL -->
    <div id="SaveWindow" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div id="ShowDialogSave" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Would you like to proceed?
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    <button type="submit" class="btn btn-primary" onclick="Submit()" id="save">SUBMIT</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<script language="javascript">
    function myModal() {
        $('#SaveWindow').modal('show');
    }

    function Submit() {
        $(document).on("click", "#save", function () {
            $("#editForm").unbind('submit').submit();

        });
    }


    $(function () {
        // add class form-control to textarea and select
        $("input[disabled]").addClass("form-control");
        $("textarea").addClass("form-control");
        $("select").addClass("form-control");
    });


    $('#ReceivingID').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#ReceivingDate').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#PONumber').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#DRNumber').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#InvoiceNumber').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#VesselNumber').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#VoyageNumber').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#ShippingLine').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#Forwarder').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#VanNumber').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#Remarks').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });

    $(function () {
        HideOrShow(); //this calls it on load
    });

    $("#ReceivingTypeID").change(function () {
        HideOrShow();
    });

    $("#RequisitionID").change(function () {
        var val = $("#RequisitionID").val();
        GetRequisition(val);
    });

    function BindData(data) {
        $("#ReceivingID").val(data);
    }

    function GetStockTransfers(id) {
        $.get("@Url.Action("GetStockTransfers", "Receiving")/" + id, null, function (data) {
            var markup = "<option value=''></option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].TransferID + "</option>";
            }
            $("#StockTransferID").html(markup).show();
        });
    }

    function GetRequisition(id) {
        $.get("@Url.Action("GetRequisition", "Receiving")/" + id, null, function (data) {
            //$("#RequisitionID").val(data.ID);
            $("#RefNumber").val(data.RefNumber);
            $("#RequestedBy").val(data.RequestedBy);
            $("#Destination").val(data.Destination);
            $("#SourceLoc").val(data.SourceLoc);
            $("#Vendor").val(data.Vendor);
            $("#VendorCode").val(data.VendorCode);
            $("#VendorContact").val(data.VendorContact);
            $("#CustName").val(data.CustName);
            $("#ShipmentType").val(data.ShipmentType);
            $("#Invoice").val(data.Invoice);
        });
    }

    $(function () {
        var vals = $("#ReceivingTypeID").val();
        if (vals == 1)
        {
            $("#PONumber").val('');
        }
    });

    $("#ReceivingTypeID").change(function () {
        var val = $("#ReceivingTypeID").val();
        if (val == 1) {
            $("#PONumber").val('');
        }
    });

    function HideOrShow() {
        var val = $("#ReceivingTypeID").val();
        GetStockTransfers(val);
        if (val == 1) { //PO
            $("#br").hide();
            $("#po").show();
            $("#cr").hide();
            $("#pos").hide();
        } else if (val == 2) { //BR
            $.get("@Url.Action("GenerateRefNumber", "Receiving")/RRBR", null, BindData);
            $("#br").show();
            $("#po").hide();
            $("#cr").hide();
        } else if (val == 3) { //WR
            $.get("@Url.Action("GenerateRefNumber", "Receiving")/RRWR", null, BindData);
            $("#br").show();
            $("#po").hide();
            $("#cr").hide();
            $("#loc").show();
        } else if (val == 5) { //OR
            $.get("@Url.Action("GenerateRefNumber", "Receiving")/RROR", null, BindData);
            $("#br").show();
            $("#po").hide();
            $("#cr").hide();
        } else if (val == 4) { //CR
            $.get("@Url.Action("GenerateRefNumber", "Receiving")/RRCR", null, BindData);
            $("#br").hide();
            $("#po").hide();
            $("#cr").show();
        } else {
            $("#RefNumber").val("");
            $("#br").hide();
            $("#po").hide();
            $("#cr").hide();
            //$("#pos").hide();
        }
    }

    $("#LocationID").change(function () {
        var val = $("#LocationID option:selected").val();

        $.ajax({
            url: '@Url.Action("getRequiLoc", "Receiving")',
            data: { id: val },
            type: 'get',
            success: function (data) {
                var markup = "<option value='0'>Select Requisition</option>";
                for (var x = 0; x < data.length; x++) {
                    markup += "<option value=" + data[x].ID + ">" + data[x].RefNumber + "</option>";
                }
                $("#RequisitionID").html(markup).show();
            }
        })
    });

</script>

<script type="text/jscript">
    jQuery.validator.unobtrusive.adapters.add("dropdown", function (options) {
        if (options.element.tagName.toUpperCase() == "SELECT" && options.element.type.toUpperCase() == "SELECT-ONE") {
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });
</script>