@model PagedList.IPagedList<MoostBrand.DAL.ReceivingDetail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Pending Items";
}

<div class="panel-heading">
    <h4 class="panel-title">Pending Items</h4>
    <hr />
</div>
<div class="panel-body">
    <div class="alert alert-danger">@TempData["PartialError"]</div>
    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    In Stock
                </th>
                <th>
                    Committed
                </th>
                <th>
                    Ordered
                </th>
                <th>
                    Available
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RequisitionDetail.Item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Committed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ordered)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Available)
                    </td>
                    <td>
                        <div class="custom-tools">
                            <a href="#" class="btn btn-xs btn-blue tooltips" data-placement="top" data-original-title="Edit" id="ShowPopopEdit" onclick="ShowEdit(@item.ID)"><i class="fa fa-edit"></i></a>
                            <a href="#" class="btn btn-xs btn-red tooltips" data-placement="top" data-original-title="Delete" id="ShowPopopDelete" onclick="ShowDelete(@item.ID)"><i class="fa fa-times fa fa-white"></i></a>
                            <a href="#" id="approve_button" onclick="Approve(@ViewBag.Rid, @item.ID)" class="btn btn-xs btn-dark-green tooltips" data-placement="top" data-original-title="Approve">
                                <i class="fa fa-thumbs-up"></i>
                            </a>
                            <a href="#" id="deny_button" onclick="Deny(@ViewBag.Rid, @item.ID)" class="btn btn-xs btn-dark-red tooltips" data-placement="top" data-original-title="Deny">
                                <i class="fa fa-thumbs-down"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

    <br />

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("PendingItems",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <br /><br />
    @if (ViewBag.RequestedBy == Convert.ToInt32(ViewBag.UserID) || ViewBag.AcctType == 1 || ViewBag.AcctType == 4)
    {
        <a href="#" id="ShowPopop" class="btn btn-green">Add Item</a>
    }

    <a href='@Url.Action("Details", new { id = ViewBag.Rid })' class="btn btn-light-orange">
        Back to List
    </a>

    <div id="AddItemWindow" class="modal fade" data-backdrop="static" data-keyboard="false" data-url="@Url.Action("AddItemPartial", new { id = ViewBag.Rid })">
        <div id="ShowDialogAdd" class="modal-dialog" role="document">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="EditItemWindow" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div id="ShowDialogEdit" class="modal-dialog" role="document">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="DeleteItemWindow" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div id="ShowDialogDelete" class="modal-dialog" role="document">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script>
    window.onload = function () {
        //$('#ShowPopop').click(function () {

            var url = $('#AddItemWindow').data('url');
            $.get(url, function (data) {
                $('#ShowDialogAdd').html(data);

                var addItemPartial = $("#addItemPartial");
                addItemPartial.submit(function (e) {
                    var ordered = $("#Ordered");
                    var committed = $("#Committed");
                    var available = $("#Available");
                    ordered.prop('disabled', false);
                    committed.prop('disabled', false);
                    available.prop('disabled', false);
                    return true;
                });

                $('#AddItemWindow').modal('show');

                $("#RequisitionDetailID").change(function () {
                    var val = $("#RequisitionDetailID option:selected").val();

                    $.ajax({
                        url: '@Url.Action("DisplayComputations", "Receiving")',
                        data: { reqID: val },
                        type: 'get',
                        success: function (data) {
                            $("#Committed").val(data.Committed);
                            $("#Ordered").val(data.Ordered);
                            $("#InStock").val(data.InStock);
                        }
                    })
                });

                $('#Quantity').focusout(function () {
                    var ordered = parseInt($('#Ordered').val());
                    var committed = parseInt($('#Committed').val());
                    var instock = parseInt($('#InStock').val());
                    console.log(instock);

                    $('#Available').val((instock + ordered) - committed);
                })

                //var ordered = parseInt($('#Ordered').val());
                //var committed = parseInt($('#Committed').val());
                //var instock = parseInt($('#InStock').val());
                //console.log(instock);

                //$('#Available').val((instock + ordered) - committed);

                // add class form-control to textarea and select
                $("input[disabled]").addClass("form-control");
                $("textarea").addClass("form-control");
                $("select").addClass("form-control");
            });
        //});
    }

    $('#ShowPopop').click(function () {

        var url = $('#AddItemWindow').data('url');
        $.get(url, function (data) {
            $('#ShowDialogAdd').html(data);

            $('#AddItemWindow').modal('show');

            // add class form-control to textarea and select
            $("input[disabled]").addClass("form-control");
            $("textarea").addClass("form-control");
            $("select").addClass("form-control");
        });
    });

    function ShowEdit(id) {
        var url = '@Url.Action("EditItemPartial", "Receiving")/' + id;
        $.get(url, function (data) {
            $('#ShowDialogEdit').html(data);

            $('#EditItemWindow').modal('show');

            // add class form-control to textarea and select
            $("input[disabled]").addClass("form-control");
            $("textarea").addClass("form-control");
            $("select").addClass("form-control");
        });
    }

    function ShowDelete(id) {
        var url = '@Url.Action("DeleteItemPartial", "Receiving")/' + id;
        $.get(url, function (data) {
            $('#ShowDialogDelete').html(data);

            $('#DeleteItemWindow').modal('show');

            // add class form-control to textarea and select
            $("input[disabled]").addClass("form-control");
            $("textarea").addClass("form-control");
            $("select").addClass("form-control");
        });
    }
    function ReloadFunction() {
        location.reload();
    }
    function Approve(id, itemID){
        var url = '@Url.Action("ApproveItem", "Receiving")/' + id;
        $.post(url, {id: id, itemID : itemID }, ReloadFunction);
    }

    function Deny(id, itemID){
        var url = '@Url.Action("DenyItem", "Receiving")/' + id;
        $.post(url, {id: id, itemID : itemID }, ReloadFunction);
    }
</script>