@model MoostBrand.DAL.Requisition

@{
    ViewBag.Title = "Details";
}

<div class="panel-heading">
    <h4 class="panel-title">Reservation Details</h4>
    <hr />
</div>
<div class="panel-body">
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.RequisitionTypeID)

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label col-md-4">Reference #</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.RefNumber)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Type</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.RequisitionType.Type)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Sales Person</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.Employee1.LastName),
                            @Html.DisplayFor(model => model.Employee1.FirstName)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Requested Date</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.RequestedDate)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Location of Reservation</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.Location.Description)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Destination</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.Location1.Description)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Date Required</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.DateRequired)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Project/Customer</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.Customer)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Reservation Type</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.ReservationType.Type)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">Reserved By</label>
                    <div class="col-md-8">
                        <label class="custom-label">
                            @Html.DisplayFor(model => model.Employee2.LastName),
                            @Html.DisplayFor(model => model.Employee2.FirstName)
                        </label>
                    </div>
                </div>
                <div id="brcr">
                    @*<div class="form-group">
                        <label class="control-label col-md-4">Driver</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.Driver)
                            </label>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-6">
                <div id="cr">
                    <div class="form-group">
                        <label class="control-label col-md-4">Payment Status</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.PaymentStatu.Status)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Invoice #</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.InvoiceNumber)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Authorized Person</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.GetAuthorizedPerson)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Validated By</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.Employee3.LastName),
                                @Html.DisplayFor(model => model.Employee3.FirstName)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Shipment Type</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.ShipmentType)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Approval Status</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.ApprovalStatu.Status)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Approved By</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.Employee.LastName),
                                @Html.DisplayFor(model => model.Employee.FirstName)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Encoded By</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.Employee4.LastName),
                                @Html.DisplayFor(model => model.Employee4.FirstName)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Remarks</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.Remarks)
                            </label>
                        </div>
                    </div>
                  
                    @*<div class="form-group">
                        <label class="control-label col-md-4">Drop Ship Type</label>
                        <div class="col-md-8">
                            <label class="custom-label">
                                @Html.DisplayFor(model => model.DropShipType.Type)
                            </label>
                        </div>
                    </div>*@
                </div>



            </div>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                @*@if (Convert.ToInt32(Session["sessionuid"]) == Model.RequestedBy || Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
                {*@
                    @*<a href='@Url.Action("PendingItems", new { id = Model.ID })' class="btn btn-dark-yellow">
                            Pending Items
                        </a>*@
                    <a href='@Url.Action("ApprovedItems", new { id = Model.ID })' class="btn btn-dark-green">
                        Approved Items
                    </a>
                            <a href='@Url.Action("DeniedItems", new { id = Model.ID })' class="btn btn-dark-red">
                                Denied Items
                            </a>

                            <br /><br />
                @if (ViewBag.isApproved == 1)
                {
                            <a href='@Url.Action("Edit", new { id = Model.ID })' class="btn btn-green">
                                Edit
                            </a>

                }

               @* }*@

                <a href='@Url.Action("Index")' class="btn btn-light-orange">
                    Back to List
                </a>
            </div>
        </div>


        @*@if (Convert.ToInt32(Session["sessionuid"]) == Model.RequestedBy || Convert.ToInt32(Session["usertype"]) == 1 || Convert.ToInt32(Session["usertype"]) == 4)
        {
   
         

        }*@
        @Html.Action("PendingItems", "Reservation", new { page = ViewBag.Page })

        <div class="panel-heading">
            <h4 class="panel-title">History</h4>
            <hr />
        </div>
        <table class="table table-striped table-bordered table-hover table-full-width dataTable ">
            <thead>
                <tr>
                    <th>
                        Item Code
                    </th>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        In Stock
                    </th>
                    <th>
                        Committed
                    </th>
                    <th>
                        Ordered
                    </th>
                    <th>
                        Available
                    </th>
                    <th>
                        Previous Item
                    </th>
                    <th>
                        Previous Quantity
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model.RequisitionDetails.Where(r=>r.AprovalStatusID == 2))
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.DescriptionPurchase)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReferenceQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetInstock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetCommited)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetOrdered)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetAvailable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item1.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PreviousQuantity)
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>


