@using ReportViewerForMvc

<script type="text/javascript">
    function DateCheck() {
        var StartDate = document.getElementById('txtStartDate').value;
        var EndDate = document.getElementById('txtEndDate').value;
        var eDate = new Date(EndDate);
        var sDate = new Date(StartDate);
        if (StartDate != '' && EndDate != '' && sDate > eDate) {
            alert("Please ensure that the End Date is greater than or equal to the Start Date.");
            $("#btn").addClass('disabled');
            return false;
        } else {
            $("#btn").removeClass('disabled');
        }
    }
</script>

@{
    ViewBag.Title = "StockReceivingReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="panel-heading">
    <h4 class="panel-title">Stock Receiving Report</h4>
</div>


<div class="panel-body">

    <div class="clearfix"></div>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal" style="margin-bottom:16px;">

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Date From</label>
                    <div class="col-md-6">
                        <input type="text" id="txtStartDate" name="DateFrom" class="date-picker form-control" value="@ViewBag.DateFrom" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Date To</label>
                    <div class="col-md-6">
                        <input type="text" id="txtEndDate" name="DateTo" class="date-picker form-control" value="@ViewBag.DateTo" onchange="DateCheck()"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Vendor</label>
                    <div class="col-md-6">
                        @Html.DropDownList("vendor", (IEnumerable<SelectListItem>)ViewBag.Vendor, "all", new { @class = "form-control" })
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label col-md-3">Location</label>
                    <div class="col-md-6">
                        @Html.DropDownList("location", (IEnumerable<SelectListItem>)ViewBag.Location, "all", new { @class = "form-control" })
                    </div>
                </div>
            </div>




            <div class="col-md-4 col-md-push-6 no-padding">
                <div class="form-group">
                    <input type="submit" id="btn" value="Submit" class="btn btn-dark-blue pull-right" />
                </div>
            </div>


            <div class="clearfix"></div>

        </div>
    }

    <!--#ReportViewer1-->
    <div class="report-viewer">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "border: none; width:100% !important;" })
    </div>

</div>