@model MoostBrand.DAL.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Code
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            Barcode
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Description)
        </dd>

        <dt>
            Sub Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.Description)
        </dd>

        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Description)
        </dd>

        <dt>
            Color
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.Description)
        </dd>

        <dt>
            Size
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size.Description)
        </dd>

        <dt>
            Unit Of Measure
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitOfMeasurement.Description)
        </dd>

        <dt>
            Re Order Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReOrderLevel)
        </dd>

        <dt>
            Minimum Stock
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumStock)
        </dd>

        <dt>
            Maximum Stock
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumStock)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
