@model MoostBrand.DAL.Item

@{
    ViewBag.Title = "Details";
}

<div class="panel-heading">
    <h4 class="panel-title">Item Details</h4>
    <hr />
</div>

<div class="panel-body">
    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">ItemID</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ItemID)
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Code</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Code)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Barcode</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Barcode)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Sales Description</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.DescriptionPurchase)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Substitute Item</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.SubstituteItem)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Complementary Field</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ComplementaryField)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Category</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Category.Description)
                </label>
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-2">Sub Category Type</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.SubCategory.SubCategoriesTypes.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Sub Category</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.SubCategory.Description)
                </label>
            </div>
        </div>*@

        <div class="form-group">
            <label class="control-label col-md-2">Year</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Year)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Brand</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Brand.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Color</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Color.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Size</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Size.Description)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Unit Of Measurement</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.UnitOfMeasurement.Description)
                </label>
            </div>
        </div>
        @*<div class="form-group">
            <label class="control-label col-md-2">Last Unit Cost</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.LastUnitCost)
                </label>
            </div>
        </div>*@
        @*<div class="form-group">
            <label class="control-label col-md-2">Weighted Average Cost</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.WeightedAverageCost)
                </label>
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2">Vendor Coding</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.VendorCoding)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Daily Average Usage</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.DailyAverageUsage)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2"> Lead Time</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.LeadTime)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Quantity</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.Quantity)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Item Status</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.ItemStatu.ItemStatus)
                </label>
            </div>
        </div>

        @*<div class="form-group">
            <label class="control-label col-md-2">Minimum Stock</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.MinimumStock)
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Maximum Stock</label>
            <div class="col-md-6">
                <label class="custom-label">
                    @Html.DisplayFor(model => model.MaximumStock)
                </label>
            </div>
        </div>*@
        <div class="form-group">
            <label class="control-label col-md-2">Photo</label>
            <div class="col-md-6">
                <label class="custom-label">
                    <img src="@Html.Raw(Model.Image)" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <a href='@Url.Action("Edit", new { id = Model.ID })' class="btn btn-green">
                    Edit
                </a>
                <a href='@Url.Action("Index")' class="btn btn-light-orange">
                    Back to List
                </a>
            </div>
        </div>

    </div>
</div>
