@model MoostBrand.DAL.StockTransferDirect

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "StockTransferDirects", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel-heading">
        <h4 class="panel-title">Create Stock Transfer</h4>
        <hr />
    </div>
    <div class="panel-body">

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="submit" value="Create" class="btn btn-green" />
                    <a href='@Url.Action("Index")' class="btn btn-light-orange">
                        Back to List
                    </a>
                </div>
            </div>

        </div>

    </div>
}

<script src="~/Scripts/CustomJs.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    @*$('#LocationID').change(function () {
        _locID = $('#LocationID').val();
        var url = "/StockTransferDirects/GetLocationCode/";

        $.ajax({
            url: url,
            data: { locID: _locID },
            cache: false,
            type: "POST",
            success: function (data) {
                $.each(data, function (i, val) {
                    $.get("@Url.Action("GenerateSTRNumber", "StockTransferDirects")/STR", null, BindData);
                })
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    });*@

    //function BindData(data) {
    //    $("#TransferID").val(data);
    //}

    @*function GetLocationCode(_locID) {
        var url = "/StockTransferDirects/GetLocationCode/";

        $.ajax({
            url: url,
            data: { locID: _locID },
            cache: false,
            type: "POST",
            success: function (data) {
                $.get("@Url.Action("GenerateSTRNumber", "StockTransferDirects")/STR", null, BindData);
                $.get("@Url.Action("GenerateSTRNumber", "StockTransferDirects")/STR - ", null, BindData);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }*@

    jQuery.validator.unobtrusive.adapters.add("dropdown", function (options) {
        if (options.element.tagName.toUpperCase() == "SELECT" && options.element.type.toUpperCase() == "SELECT-ONE") {
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });

</script>


