<!DOCTYPE html>
<!-- Template Name: Rapido - Responsive Admin Template build with Twitter Bootstrap 3.x Version: 1.2 Author: ClipTheme -->
<!--[if IE 8]><html class="ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- start: HEAD -->
<head>
    <title>Moostbrand - @ViewBag.Title</title>

    @*<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application</title>*@
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="" name="description" />
    <meta content="" name="author" />




    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,200,100,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../../Content/rapido/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/iCheck/skins/all.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/perfect-scrollbar/src/perfect-scrollbar.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/animate.css/animate.css">
    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR SUBVIEW CONTENTS -->
    <link rel="stylesheet" href="../../Content/rapido/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/owl-carousel/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/owl-carousel/owl-carousel/owl.transitions.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/summernote/dist/summernote.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/fullcalendar/fullcalendar/fullcalendar.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/toastr/toastr.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/bootstrap-select/bootstrap-select.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/DataTables/media/css/DT_bootstrap.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/bootstrap-fileupload/bootstrap-fileupload.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css">
    <!-- end: CSS REQUIRED FOR THIS SUBVIEW CONTENTS-->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link rel="stylesheet" href="../../Content/rapido/plugins/weather-icons/css/weather-icons.css">
    <link rel="stylesheet" href="../../Content/rapido/plugins/nvd3/nv.d3.css">
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CORE CSS -->
    <link rel="stylesheet" href="../../Content/rapido/css/styles.css">
    <link rel="stylesheet" href="../../Content/rapido/css/styles-responsive.css">
    <link rel="stylesheet" href="../../Content/rapido/css/plugins.css">
    <link rel="stylesheet" href="../../Content/rapido/css/themes/theme-style8.css" type="text/css" id="skin_color">
    <link rel="stylesheet" href="../../Content/rapido/css/print.css" type="text/css" media="print" />
    <!-- end: CORE CSS -->
    <link rel="shortcut icon" href="favicon.ico" />

    <script src="../../Content/rapido/plugins/jQuery/jquery-2.1.1.min.js"></script>
    <!--<![endif]-->
    <script src="../../Content/rapido/plugins/jquery-ui/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap/js/bootstrap.js"></script>

</head>
<!-- end: HEAD -->
<!-- start: BODY -->
<body>
    <!-- start: SLIDING BAR (SB) -->
    <div id="slidingbar-area">
        <div id="slidingbar">
            <div class="row">
                <!-- start: SLIDING BAR FIRST COLUMN -->
                <div class="col-md-4 col-sm-4">
                    <h2>My Options</h2>
                    <div class="row">
                        <div class="col-xs-6 col-lg-3">
                            <button class="btn btn-icon btn-block space10">
                                <i class="fa fa-folder-open-o"></i>
                                Projects <span class="badge badge-info partition-red"> 4 </span>
                            </button>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <button class="btn btn-icon btn-block space10">
                                <i class="fa fa-envelope-o"></i>
                                Messages <span class="badge badge-info partition-red"> 23 </span>
                            </button>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <button class="btn btn-icon btn-block space10">
                                <i class="fa fa-calendar-o"></i>
                                Calendar <span class="badge badge-info partition-blue"> 5 </span>
                            </button>
                        </div>
                        <div class="col-xs-6 col-lg-3">
                            <button class="btn btn-icon btn-block space10">
                                <i class="fa fa-bell-o"></i>
                                Notifications <span class="badge badge-info partition-red"> 9 </span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end: SLIDING BAR FIRST COLUMN -->
                <!-- start: SLIDING BAR SECOND COLUMN -->
                <div class="col-md-4 col-sm-4">
                    <h2>My Recent Works</h2>
                    <div class="blog-photo-stream margin-bottom-30">
                        <ul class="list-unstyled">
                            <li>
                                <a href="#"><img alt="" src="assets/images/image01_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image02_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image03_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image04_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image05_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image06_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image07_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image08_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image09_th.jpg"></a>
                            </li>
                            <li>
                                <a href="#"><img alt="" src="assets/images/image10_th.jpg"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end: SLIDING BAR SECOND COLUMN -->
                <!-- start: SLIDING BAR THIRD COLUMN -->
                <div class="col-md-4 col-sm-4">
                    <h2>My Info</h2>
                    <address class="margin-bottom-40">
                        Peter Clark
                        <br>
                        12345 Street Name, City Name, United States
                        <br>
                        P: (641)-734-4763
                        <br>
                        Email:
                        <a href="#">
                            peter.clark@example.com
                        </a>
                    </address>
                    <a class="btn btn-transparent-white" href="#">
                        <i class="fa fa-pencil"></i> Edit
                    </a>
                </div>
                <!-- end: SLIDING BAR THIRD COLUMN -->
            </div>
            <div class="row">
                <!-- start: SLIDING BAR TOGGLE BUTTON -->
                <div class="col-md-12 text-center">
                    <a href="#" class="sb_toggle"><i class="fa fa-chevron-up"></i></a>
                </div>
                <!-- end: SLIDING BAR TOGGLE BUTTON -->
            </div>
        </div>
    </div>
    <!-- end: SLIDING BAR -->
    <div class="main-wrapper">
        <!-- start: TOPBAR -->
        <header class="topbar navbar navbar-inverse navbar-fixed-top inner">
            <!-- start: TOPBAR CONTAINER -->
            <div class="container">
                <div class="navbar-header">
                    <a class="sb-toggle-left hidden-md hidden-lg" href="#main-navbar">
                        <i class="fa fa-bars"></i>
                    </a>
                    <!-- start: LOGO -->
                    <a class="navbar-brand" href="index.html">
                        <img src="../../Content/rapido/images/logo.png" alt="Rapido" />
                    </a>
                    <!-- end: LOGO -->
                </div>
                <div class="topbar-tools">
                    <!-- start: TOP NAVIGATION MENU -->
                    <ul class="nav navbar-right">
                        <!-- start: USER DROPDOWN -->
                        <li class="dropdown current-user">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" data-close-others="true" href="#">
                                <img src="assets/images/avatar-1-small.jpg" class="img-circle" alt=""> <span class="username hidden-xs">Username</span> <i class="fa fa-caret-down "></i>
                            </a>
                            <ul class="dropdown-menu dropdown-dark">
                                <li>
                                    <a href="pages_user_profile.html">
                                        My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="pages_calendar.html">
                                        My Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="pages_messages.html">
                                        My Messages (3)
                                    </a>
                                </li>
                                <li>
                                    <a href="login_lock_screen.html">
                                        Lock Screen
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logout", "Account")">
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER DROPDOWN -->
                        <!--<li class="right-menu-toggle">
                            <a href="#" class="sb-toggle-right">
                                <i class="fa fa-globe toggle-icon"></i> <i class="fa fa-caret-right"></i> <span class="notifications-count badge badge-default hide"> 3</span>
                            </a>
                        </li>-->
                    </ul>
                    <!-- end: TOP NAVIGATION MENU -->
                </div>
            </div>
            <!-- end: TOPBAR CONTAINER -->
        </header>
        <!-- end: TOPBAR -->
        <!-- start: PAGESLIDE LEFT -->
        <a class="closedbar inner hidden-sm hidden-xs" href="#">
        </a>
        <nav id="pageslide-left" class="pageslide inner">
            <div class="navbar-content">
                <!-- start: SIDEBAR -->
                <div class="main-navigation left-wrapper transition-left">
                    <div class="navigation-toggler hidden-sm hidden-xs">
                        <a href="#main-navbar" class="sb-toggle-left">
                        </a>
                    </div>

                    <!-- start: MAIN NAVIGATION MENU -->
                    <ul class="main-navigation-menu">
                        <li @ViewBag.PRActive>
                            <a href="@Url.Action("Index", "PR")"><i class="fa fa-shopping-cart"></i> <span class="title">Requisition</span> </a>
                        </li>
                        <li @ViewBag.ReceivingActive>
                            <a href="@Url.Action("Index", "Receiving")"><i class="fa fa-inbox"></i> <span class="title">Receiving</span> </a>
                        </li>
                        <li @ViewBag.StockTransferActive>
                            <a href="@Url.Action("Index", "StockTransfer")"><i class="fa fa-exchange"></i> <span class="title">Stock Transfer</span> </a>
                        </li>
                        <li @ViewBag.StockAllocationActive>
                            <a href="@Url.Action("Index", "StockAllocation")"><i class="fa fa-hand-o-up"></i> <span class="title">Stock Allocation</span> </a>
                        </li>
                        <li @ViewBag.ReturnActive>
                            <a href="@Url.Action("Index", "Return")"><i class="fa fa-retweet"></i> <span class="title">Return</span> </a>
                        </li>
                        <li @ViewBag.StockAdjustmentActive>
                            <a href="@Url.Action("Index", "StockAdjustment")"><i class="fa fa-bar-chart-o"></i> <span class="title">Stock Adjustment</span> </a>
                        </li>
                        <li>
							<a href="javascript:void(0)"><i class="fa fa-desktop"></i> <span class="title"> Management </span><i class="icon-arrow"></i> </a>
							<ul class="sub-menu">								
								<li>
									<a href="@Url.Action("Index", "Item")">
										Items
									</a>
								</li>
                                <li>
                                    <a href="@Url.Action("Index", "Category")">
                                        Categories
                                    </a>
                                </li>
								<li>
									<a href="@Url.Action("Index", "Brand")">
										Brands
									</a>
								</li>
                                <li>
                                    <a href="@Url.Action("Index", "UnitofMeasure")">
                                        Unit of Measurements
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Color")">
                                        Colors
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ContainerLocation")">
                                        Container Location
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "ContainerStorage")">
                                    Container Storage
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Vendor")">
                                        Vendor
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Employee")">
                                        Employees
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "User")">
                                        Users
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Size")">
                                        Sizes
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Index", "Location")">
                                        Location
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- end: MAIN NAVIGATION MENU -->
                </div>
                <!-- end: SIDEBAR -->
            </div>
            <div class="slide-tools">
                <div class="col-xs-6 text-left no-padding">
                    @*<a class="btn btn-sm status" href="#">
                        Status <i class="fa fa-dot-circle-o text-green"></i> <span>Online</span>
                    </a>*@
                </div>
                <div class="col-xs-6 text-right no-padding">
                    <a class="btn btn-sm log-out text-right" href="@Url.Action("Logout", "Account")">
                        <i class="fa fa-power-off"></i> Log Out
                    </a>
                </div>
            </div>
        </nav>
        <!-- end: PAGESLIDE LEFT -->
        <!-- start: PAGESLIDE RIGHT -->
        <!--<div id="pageslide-right" class="pageslide slide-fixed inner">
            <div class="right-wrapper">
                <ul class="nav nav-tabs nav-justified" id="sidebar-tab">
                    <li class="active">
                        <a href="#users" role="tab" data-toggle="tab"><i class="fa fa-users"></i></a>
                    </li>
                    <li>
                        <a href="#notifications" role="tab" data-toggle="tab"><i class="fa fa-bookmark "></i></a>
                    </li>
                    <li>
                        <a href="#settings" role="tab" data-toggle="tab"><i class="fa fa-gear"></i></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="users">
                        <div class="users-list">
                            <h5 class="sidebar-title">On-line</h5>
                            <ul class="media-list">
                                <li class="media">
                                    <a href="#">
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="assets/images/avatar-2.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Nicole Bell</h4>
                                            <span> Content Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <div class="user-label">
                                            <span class="label label-default">3</span>
                                        </div>
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="assets/images/avatar-3.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Steven Thompson</h4>
                                            <span> Visual Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="assets/images/avatar-4.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Ella Patterson</h4>
                                            <span> Web Editor </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="assets/images/avatar-5.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kenneth Ross</h4>
                                            <span> Senior Designer </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="sidebar-title">Off-line</h5>
                            <ul class="media-list">
                                <li class="media">
                                    <a href="#">
                                        <img alt="..." src="assets/images/avatar-6.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Nicole Bell</h4>
                                            <span> Content Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <div class="user-label">
                                            <span class="label label-default">3</span>
                                        </div>
                                        <img alt="..." src="assets/images/avatar-7.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Steven Thompson</h4>
                                            <span> Visual Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <img alt="..." src="assets/images/avatar-8.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Ella Patterson</h4>
                                            <span> Web Editor </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <img alt="..." src="assets/images/avatar-9.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kenneth Ross</h4>
                                            <span> Senior Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <img alt="..." src="assets/images/avatar-10.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Ella Patterson</h4>
                                            <span> Web Editor </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a href="#">
                                        <img alt="..." src="assets/images/avatar-5.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kenneth Ross</h4>
                                            <span> Senior Designer </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="user-chat">
                            <div class="sidebar-content">
                                <a class="sidebar-back" href="#"><i class="fa fa-chevron-circle-left"></i> Back</a>
                            </div>
                            <div class="user-chat-form sidebar-content">
                                <div class="input-group">
                                    <input type="text" placeholder="Type a message here..." class="form-control">
                                    <div class="input-group-btn">
                                        <button class="btn btn-blue no-radius" type="button">
                                            <i class="fa fa-chevron-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ol class="discussion sidebar-content">
                                <li class="other">
                                    <div class="avatar">
                                        <img src="assets/images/avatar-4.jpg" alt="">
                                    </div>
                                    <div class="messages">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>
                                        <span class="time"> 51 min </span>
                                    </div>
                                </li>
                                <li class="self">
                                    <div class="avatar">
                                        <img src="assets/images/avatar-1.jpg" alt="">
                                    </div>
                                    <div class="messages">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>
                                        <span class="time"> 37 mins </span>
                                    </div>
                                </li>
                                <li class="other">
                                    <div class="avatar">
                                        <img src="assets/images/avatar-4.jpg" alt="">
                                    </div>
                                    <div class="messages">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="tab-pane" id="notifications">
                        <div class="notifications">
                            <div class="pageslide-title">
                                You have 11 notifications
                            </div>
                            <ul class="pageslide-list">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="label label-primary"><i class="fa fa-user"></i></span> <span class="message"> New user registration</span> <span class="time"> 1 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="label label-success"><i class="fa fa-comment"></i></span> <span class="message"> New comment</span> <span class="time"> 7 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="label label-success"><i class="fa fa-comment"></i></span> <span class="message"> New comment</span> <span class="time"> 8 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="label label-success"><i class="fa fa-comment"></i></span> <span class="message"> New comment</span> <span class="time"> 16 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="label label-primary"><i class="fa fa-user"></i></span> <span class="message"> New user registration</span> <span class="time"> 36 min</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="label label-warning"><i class="fa fa-shopping-cart"></i></span> <span class="message"> 2 items sold</span> <span class="time"> 1 hour</span>
                                    </a>
                                </li>
                                <li class="warning">
                                    <a href="javascript:void(0)">
                                        <span class="label label-danger"><i class="fa fa-user"></i></span> <span class="message"> User deleted account</span> <span class="time"> 2 hour</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="view-all">
                                <a href="javascript:void(0)">
                                    See all notifications <i class="fa fa-arrow-circle-o-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="settings">
                        <h5 class="sidebar-title">General Settings</h5>
                        <ul class="media-list">
                            <li class="media">
                                <div class="checkbox sidebar-content">
                                    <label>
                                        <input type="checkbox" value="" class="green" checked="checked">
                                        Enable Notifications
                                    </label>
                                </div>
                            </li>
                            <li class="media">
                                <div class="checkbox sidebar-content">
                                    <label>
                                        <input type="checkbox" value="" class="green" checked="checked">
                                        Show your E-mail
                                    </label>
                                </div>
                            </li>
                            <li class="media">
                                <div class="checkbox sidebar-content">
                                    <label>
                                        <input type="checkbox" value="" class="green">
                                        Show Offline Users
                                    </label>
                                </div>
                            </li>
                            <li class="media">
                                <div class="checkbox sidebar-content">
                                    <label>
                                        <input type="checkbox" value="" class="green" checked="checked">
                                        E-mail Alerts
                                    </label>
                                </div>
                            </li>
                            <li class="media">
                                <div class="checkbox sidebar-content">
                                    <label>
                                        <input type="checkbox" value="" class="green">
                                        SMS Alerts
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <div class="sidebar-content">
                            <button class="btn btn-success">
                                <i class="icon-settings"></i> Save Changes
                            </button>
                        </div>
                    </div>
                </div>
                <div class="hidden-xs" id="style_selector">
                    <div id="style_selector_container">
                        <div class="pageslide-title">
                            Style Selector
                        </div>
                        <div class="box-title">
                            Choose Your Layout Style
                        </div>
                        <div class="input-box">
                            <div class="input">
                                <select name="layout" class="form-control">
                                    <option value="default">Wide</option>
                                    <option value="boxed">Boxed</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-title">
                            Choose Your Header Style
                        </div>
                        <div class="input-box">
                            <div class="input">
                                <select name="header" class="form-control">
                                    <option value="fixed">Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-title">
                            Choose Your Sidebar Style
                        </div>
                        <div class="input-box">
                            <div class="input">
                                <select name="sidebar" class="form-control">
                                    <option value="fixed">Fixed</option>
                                    <option value="default">Default</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-title">
                            Choose Your Footer Style
                        </div>
                        <div class="input-box">
                            <div class="input">
                                <select name="footer" class="form-control">
                                    <option value="default">Default</option>
                                    <option value="fixed">Fixed</option>
                                </select>
                            </div>
                        </div>
                        <div class="box-title">
                            10 Predefined Color Schemes
                        </div>
                        <div class="images icons-color">
                            <a href="#" id="default"><img src="assets/images/color-1.png" alt="" class="active"></a>
                            <a href="#" id="style2"><img src="assets/images/color-2.png" alt=""></a>
                            <a href="#" id="style3"><img src="assets/images/color-3.png" alt=""></a>
                            <a href="#" id="style4"><img src="assets/images/color-4.png" alt=""></a>
                            <a href="#" id="style5"><img src="assets/images/color-5.png" alt=""></a>
                            <a href="#" id="style6"><img src="assets/images/color-6.png" alt=""></a>
                            <a href="#" id="style7"><img src="assets/images/color-7.png" alt=""></a>
                            <a href="#" id="style8"><img src="assets/images/color-8.png" alt=""></a>
                            <a href="#" id="style9"><img src="assets/images/color-9.png" alt=""></a>
                            <a href="#" id="style10"><img src="assets/images/color-10.png" alt=""></a>
                        </div>
                        <div class="box-title">
                            Backgrounds for Boxed Version
                        </div>
                        <div class="images boxed-patterns">
                            <a href="#" id="bg_style_1"><img src="assets/images/bg.png" alt=""></a>
                            <a href="#" id="bg_style_2"><img src="assets/images/bg_2.png" alt=""></a>
                            <a href="#" id="bg_style_3"><img src="assets/images/bg_3.png" alt=""></a>
                            <a href="#" id="bg_style_4"><img src="assets/images/bg_4.png" alt=""></a>
                            <a href="#" id="bg_style_5"><img src="assets/images/bg_5.png" alt=""></a>
                        </div>
                        <div class="style-options">
                            <a href="#" class="clear_style">
                                Clear Styles
                            </a>
                            <a href="#" class="save_style">
                                Save Styles
                            </a>
                        </div>
                    </div>
                    <div class="style-toggle open"></div>
                </div>
            </div>
        </div>-->
        <!-- end: PAGESLIDE RIGHT -->
        <!-- start: MAIN CONTAINER -->
        <div class="main-container inner">
            <!-- start: PAGE -->
            <div class="main-content">
                <!-- start: PANEL CONFIGURATION MODAL FORM -->
                <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h4 class="modal-title">Panel Configuration</h4>
                            </div>
                            <div class="modal-body">
                                Here will be a configuration form
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="button" class="btn btn-primary">
                                    Save changes
                                </button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- end: SPANEL CONFIGURATION MODAL FORM -->
                <div class="container">
                    <!-- start: PAGE HEADER -->
                    <!-- start: TOOLBAR -->
                    <div class="toolbar row">
                        <div class="col-sm-6 hidden-xs">
                            <div class="page-header">
                                @*<h1>Dashboard <small>overview &amp; stats </small></h1>*@
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            
                        </div>
                    </div>
                    <!-- end: TOOLBAR -->
                    <!-- end: PAGE HEADER -->
                    <!-- start: BREADCRUMB -->
                    <div class="row">
                        <div class="col-md-12">
                            <ol class="breadcrumb">
                                <li>
                                    <a href="#">
                                        Dashboard
                                    </a>
                                </li>
                                @*<li class="active">
                                    Dashboard
                                </li>*@
                            </ol>
                        </div>
                    </div>
                    <!-- end: BREADCRUMB -->
                    <!-- start: PAGE CONTENT -->
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- start: TEXT FIELDS PANEL -->
                            <div class="panel panel-white">                               
                                    
                                    @RenderBody()

                            </div>
                            <!-- end: TEXT FIELDS PANEL -->
                        </div>
                    </div>

                    <!-- end: PAGE CONTENT-->
                </div>
                <div class="subviews">
                    <div class="subviews-container"></div>
                </div>
            </div>
            <!-- end: PAGE -->
        </div>
        <!-- end: MAIN CONTAINER -->
        <!-- start: FOOTER -->
        <footer class="inner">
            <div class="footer-inner">
                <div class="pull-left">
                    2016 &copy; Moostbrand by SDS.
                </div>
                <div class="pull-right">
                    <span class="go-top"><i class="fa fa-chevron-up"></i></span>
                </div>
            </div>
        </footer>
        <!-- end: FOOTER -->


    </div>


    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
    <script src="../../Content/rapido/plugins/respond.min.js"></script>
    <script src="../../Content/rapido/plugins/excanvas.min.js"></script>
    <script type="text/javascript" src="../../Content/rapido/plugins/jQuery/jquery-1.11.1.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    
    <script src="../../Content/rapido/plugins/blockUI/jquery.blockUI.js"></script>
    <script src="../../Content/rapido/plugins/iCheck/jquery.icheck.js"></script>
    <script src="../../Content/rapido/plugins/moment/min/moment.min.js"></script>
    <script src="../../Content/rapido/plugins/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <script src="../../Content/rapido/plugins/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script src="../../Content/rapido/plugins/bootbox/bootbox.js"></script>
    <script src="../../Content/rapido/plugins/jquery.scrollTo/jquery.scrollTo.js"></script>
    <script src="../../Content/rapido/plugins/ScrollToFixed/jquery-scrolltofixed.js"></script>
    <script src="../../Content/rapido/plugins/jquery.appear/jquery.appear.js"></script>
    <script src="../../Content/rapido/plugins/jquery-cookie/jquery.cookie.js"></script>
    <script src="../../Content/rapido/plugins/velocity/jquery.velocity.js"></script>
    <script src="../../Content/rapido/plugins/TouchSwipe/jquery.touchSwipe.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <script src="../../Content/rapido/plugins/owl-carousel/owl-carousel/owl.carousel.js"></script>
    <script src="../../Content/rapido/plugins/jquery-mockjax/jquery.mockjax.js"></script>
    <script src="../../Content/rapido/plugins/toastr/toastr.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap-modal/js/bootstrap-modal.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap-modal/js/bootstrap-modalmanager.js"></script>
    <script src="../../Content/rapido/plugins/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap-select/bootstrap-select.js"></script>
    <script src="../../Content/rapido/plugins/jquery-validation/dist/jquery.validate.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="../../Content/rapido/plugins/DataTables/media/js/jquery.dataTables.js"></script>

    <script src="../../Content/rapido/plugins/truncate/jquery.truncate.js"></script>
    <script src="../../Content/rapido/plugins/summernote/dist/summernote.js"></script>
    <script src="../../Content/rapido/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="../../Content/rapido/js/subview.js"></script>
    <script src="../../Content/rapido/js/subview-examples.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR SUBVIEW CONTENTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="../../Content/rapido/plugins/bootstrap-progressbar/bootstrap-progressbar.js"></script>
    <script src="../../Content/rapido/plugins/nvd3/lib/d3.v3.js"></script>
    <script src="../../Content/rapido/plugins/nvd3/nv.d3.js"></script>
    <script src="../../Content/rapido/plugins/nvd3/src/models/historicalBar.js"></script>
    <script src="../../Content/rapido/plugins/nvd3/src/models/historicalBarChart.js"></script>
    <script src="../../Content/rapido/plugins/nvd3/src/models/stackedArea.js"></script>
    <script src="../../Content/rapido/plugins/nvd3/src/models/stackedAreaChart.js"></script>
    <script src="../../Content/rapido/plugins/jquery.sparkline/jquery.sparkline.js"></script>
    <script src="../../Content/rapido/plugins/easy-pie-chart/dist/jquery.easypiechart.js"></script>
    <script src="../../Content/rapido/js/index.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: CORE JAVASCRIPTS  -->
    <script src="../../Content/rapido/js/main.js"></script>
    <!-- end: CORE JAVASCRIPTS  -->
    <script>
        jQuery(document).ready(function () {
            Main.init();
            SVExamples.init();
            Index.init();
        });
    </script>
</body>

    <!-- end: BODY -->
</html>
