@model MoostBrand.DAL.StockTransfer

@{
    ViewBag.Title = "Create Stock Transfer";
}


@using (Html.BeginForm("Create", "StockTransfer", FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-heading">
        <h4 class="panel-title">Create Stock Transfer</h4>
        <hr />
    </div>
    <div class="panel-body">

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="button" onclick="myModal()" value="Create" class="btn btn-green" id="save" />
                    <a href='@Url.Action("Index")' class="btn btn-light-orange">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="SaveWindow" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div id="ShowDialogSave" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Would you like to proceed?
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    <button type="submit" class="btn btn-primary" onclick="Submit()" id="save">SUBMIT</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<script src="~/Scripts/CustomJs.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
    function myModal() {
        $('#SaveWindow').modal('show');
    }

    function Submit() {
        $(document).on("click", "#save", function () {
            $("#editForm").unbind('submit').submit();

        });
    }

    $('#TransferID').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#STDAte').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#TimeStarted').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#TimeFinish').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#Driver').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#Helpers').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#TimeReceived').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });
    $('#Remarks').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
    });

    $(function () {
        HideOrShow();
    });

    function HideOrShow() {
        var val = $("#StockTransferTypeID").val();
        if (val == "") {
            $("#rc").hide();
            $("#rq").hide();
        } else if (val == 1) {
            $("#rc").hide();
            $("#rq").show();
        } else if (val == 2) {
            $("#rc").show();
            $("#rq").hide();
        } else {
            $("#rc").hide();
            $("#rq").hide();
        }
    }

    $("#StockTransferTypeID").change(function () {
        HideOrShow();
    });

    $('#LocationID').change(function () {
        _locID = $('#LocationID').val();
        var url = "/StockTransfer/GetLocationCode/";

        $.ajax({
            url: url,
            data: { locID: _locID },
            cache: false,
            type: "POST",
            success: function (data) {
                $.each(data, function (i, val) {
                    $.get("@Url.Action("GenerateSTRNumber", "StockTransfer")/STR " + val.Code + "", null, BindData);
                })
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    });

    function BindData(data) {
        $("#TransferID").val(data);
    }

    function GetLocationCode(_locID) {
        var url = "/StockTransfer/GetLocationCode/";

        $.ajax({
            url: url,
            data: { locID: _locID },
            cache: false,
            type: "POST",
            success: function (data) {
                $.get("@Url.Action("GenerateSTRNumber", "StockTransfer")/STR - '" + data.locID + "'", null, BindData);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    jQuery.validator.unobtrusive.adapters.add("dropdown", function (options) {
        if (options.element.tagName.toUpperCase() == "SELECT" && options.element.type.toUpperCase() == "SELECT-ONE") {
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });

</script>

