@model MoostBrand.DAL.StockTransfer


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
@{
    ViewBag.Title = "Create Stock Transfer";
}
@*@{
    Layout = null;
}*@

@using (Html.BeginForm("Create", "StockTransfer", FormMethod.Post, new { enctype = "multipart/form-data", id = "editForm" }))
{
    @Html.AntiForgeryToken()

    <div class="panel-heading">
        <h4 class="panel-title">Create Stock Transfer</h4>

    </div>
    <div class="panel-body">

        <div class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-md-2">
                    <small class="text-danger"><span class="symbol required"></span> Required Fields</small>
                </label>
            </div>


            @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })

            @Html.EditorForModel()

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6">
                    <input type="button" onclick="myModal()" value="Create" class="btn btn-green hidden" id="save" />
                    <input type="button" value="Create" class="btn btn-green" id="btnCreate" />

                    <a href='@Url.Action("Index")' class="btn btn-light-orange">
                        Back to List
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="SaveWindow" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div id="ShowDialogSave" class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        Would you like to proceed?
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
                    <button type="submit" class="btn btn-primary" onclick="Submit()" id="save">SUBMIT</button>
 
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}

<script src="~/Scripts/CustomJs.js"></script>
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
<script type="text/javascript">
    function myModal() {
        $('#SaveWindow').modal('show');
    }

    function Submit() {
        $(document).on("click", "#save", function () {
            $("#editForm").unbind('submit').submit();

        });
    }



    $('#btnCreate').click(function (event) {
        var _variable = Validate();
        if (_variable == "passed") {
            myModal();
        }
        else if (_variable == "Helper")
        { alert("Kindly fill up field/s for Helpers"); }
        else if (_variable == "Operator")
        { alert("Kindly fill up field/s for Operators"); }
        else { alert('kindly fill up required fields'); }

    });


    function Validate() {

        var _passed;
        //txtEmail
        if ($('#StockTransferTypeID').val() == '') {
            $('#StockTransferTypeID').css({ "border": "1px solid red" })
            _passed = '1';
        
        }
        else if ($('#ReceivingID').val() == '' && $("#StockTransferTypeID").val() == 2) {
            $('#ReceivingID').css({ "border": "1px solid red" })
            _passed = '2';
           
        }
        else if ($('#RequisitionID').val() == '' && $("#StockTransferTypeID").val() == 1) {
            $('#RequisitionID').css({ "border": "1px solid red" })
            _passed = '3';
           
        }
        else if ($('#LocationID').val() == '') {
            $('#LocationID').css({ "border": "1px solid red" })
            _passed = '4';
            
        }
        else if ($('#TransferID').val() == '') {
            $('#TransferID').css({ "border": "1px solid red" })
            _passed = '5';
            
        }
        else if ($('#STDAte').val() == '') {
            $('#STDAte').css({ "border": "1px solid red" })
            _passed = '6';
 
        }
        else if ($('#TimeStarted').val() == '') {
            $('#TimeStarted').css({ "border": "1px solid red" })
            _passed = '7';
           
        }
        else if ($('#TimeFinish').val() == '') {
            $(TimeFinish).css({ "border": "1px solid red" })
            _passed = '8';
          
        }
        else if ($('#Driver').val() == '' ) {
            $('#Driver').css({ "border": "1px solid red" })
            _passed = '9';
           
        }

        else if ($('#PlateNo').val() == '' ) {
            $('#PlateNo').css({ "border": "1px solid red" })
            _passed = '11';
            
        }
        else if ($('._helper').val() == '' || $('._helper').val() == null) {
            //$('.helper-field').css({ "border": "1px solid red" })
            _passed = "Helper";
            //alert("Kindly fill up fields for Helper");
           
        }
        else if ($('#RequestedBy').val() == '') {
            $('#RequestedBy').css({ "border": "1px solid red" })
            _passed = '13';
           
        }
        else if ($('#ReceivedBy').val() == '') {
            $('#ReceivedBy').css({ "border": "1px solid red" })
            _passed = '14';
           
        }
        else if ($('#ReleasedBy').val() == '') {
            $('#ReleasedBy').css({ "border": "1px solid red" })
            _passed = '15';
           
        }
        else if ($('._operator').val() == '' || $('._operator').val() == null) {
            //$('.operator-field').css({ "border": "1px solid red" })
            _passed = "Operator";
            
           
        }
        else if ($('#CounterCheckedBy').val() == '' && $("#ReceivingTypeID").val() == 1) {
            $('#CounterCheckedBy').css({ "border": "1px solid red" })
            _passed = '18';
          
        }
        else if ($('#EncodedBy').val() == '' && $("#ReceivingTypeID").val() == 1) {
            $('#EncodedBy').css({ "border": "1px solid red" })
            _passed = '19';
           
        }
        else if ($('#PostedBy').val() == '' && $("#ReceivingTypeID").val() == 1) {
            $('#PostedBy').css({ "border": "1px solid red" })
            _passed = '20';
            
        }

        else
            _passed = "passed";

       
       
        return _passed;

    }

    $('#StockTransferTypeID').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#ReceivingID').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#RequisitionID').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#TimeStarted').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#LocationID').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#TransferID').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#STDAte').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#TimeStarted').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#TimeFinish').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#Driver').keyup(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#RequestedBy').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#ReceivedBy').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#ReleasedBy').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#CounterCheckedBy').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#EncodedBy').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $('#PostedBy').change(function () {
        var text = $(this).val();
        $(this).val(text.toUpperCase());
        if ($(this).val() != '') {
            $(this).css({ "border": "unset" })
        }
    });
    $(function () {
        HideOrShow();
    });

    function GetRq() {
        $(".preload").show();
        $.get("@Url.Action("GetRequisition", "StockTransfer")", null, function (data) {
            var markup = "<option value=''></option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].RefNumber + "</option>";
            }
           
            $("#RequisitionID").html(markup).show();
            $(".preload").hide();
        });
    }

    function GetRc() {
        $(".preload").show();
        $.get("@Url.Action("GetReceiving", "StockTransfer")", null, function (data) {
            var markup = "<option value=''></option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].ReceivingID + "</option>";
            }
            $("#ReceivingID").html(markup).show();
            $(".preload").hide();
        });
    }

    function GetRes() {
        $(".preload").show();
        $.get("@Url.Action("GetReservation", "StockTransfer")", null, function (data) {
            var markup = "<option value=''></option>";
            for (var x = 0; x < data.length; x++) {
                markup += "<option value=" + data[x].ID + ">" + data[x].RefNumber + "</option>";
            }
            $("#ReservationID").html(markup).show();
            $(".preload").hide();
        });
    }
    function HideOrShow() {
        var val = $("#StockTransferTypeID").val();
        if (val == "") {
            $("#rc").hide();
            $("#rq").hide();
            $("#res").hide();
        } else if (val == 1) {
            $("#rc").hide();
            $("#res").hide();
            $("#rq").show();
            GetRq();
        } else if (val == 2) {
            $("#rc").show();
            $("#rq").hide();
            $("#res").hide();
            GetRc();
        } else if (val == 3) {
            $("#res").show();
            $("#rq").hide();
            $("#rc").hide();
            GetRes();
        }
        else {
            $("#rc").hide();
            $("#rq").hide();
            $("#res").hide();
        }
      
        //$(".ddl-item").select2({
        //    data: null
        //});
      
    }

    $("#StockTransferTypeID").change(function () {
        HideOrShow();
    });

    $('#LocationID').change(function () {
        _locID = $('#LocationID').val();
        var url = "/StockTransfer/GetLocationCode/";

        $.ajax({
            url: url,
            data: { locID: _locID },
            cache: false,
            type: "POST",
            success: function (data) {
                $.each(data, function (i, val) {
                    $.get("@Url.Action("GenerateSTRNumber", "StockTransfer")/STR " + val.Code + "", null, BindData);
                })
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    });

    $('#ReservationID').change(function () {
        //var _id = $('#_ReservationID').val();
        $.ajax({
            url: "/StockTransfer/ReqID",
            type: "POST",
            data: { reqID: $('#ReservationID').val() },
            cache: false,
            success: function (r) {
            }
        });
       
    });

    function BindData(data) {
        $("#TransferID").val(data);
    }

    function GetLocationCode(_locID) {
        var url = "/StockTransfer/GetLocationCode/";

        $.ajax({
            url: url,
            data: { locID: _locID },
            cache: false,
            type: "POST",
            success: function (data) {
                $.get("@Url.Action("GenerateSTRNumber", "StockTransfer")/STR - '" + data.locID + "'", null, BindData);
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
    }

    jQuery.validator.unobtrusive.adapters.add("dropdown", function (options) {
        if (options.element.tagName.toUpperCase() == "SELECT" && options.element.type.toUpperCase() == "SELECT-ONE") {
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });

</script>

