@model PagedList.IPagedList<MoostBrand.DAL.RequisitionDetail>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Items";
}

<div class="panel-heading">
    <h4 class="panel-title">Items</h4>

</div>
<div class="panel-body">

    <table class="table table-striped table-bordered table-hover table-full-width dataTable no-footer">
        <thead>
            <tr>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Items",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    
    <br /><br />
    <a href="@Url.Action("Index")" class="btn btn-light-orange">
        Back to Stock Transfer List
    </a>

</div>




